
@{
    Layout = "~/Views/Shared/_SignUp.cshtml";
    ViewBag.Title = "SignUp";
}


@model eUseControl.Web.Models.ULogin



    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Registration</h2>
                    </div>
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("SignUp", "SignUp", FormMethod.Post, new { @id = "LoginForm" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.TextBoxFor(u => u.Credential, new
                    {
                        placeholder = "Username",
                        name = "username",
                        value = ""
                    })

                        @Html.TextBoxFor(u => u.Password, new
                            {
                                type = "password",
                                   placeholder = "Password",
                                  name = "password",
                                  value = ""
                                        })
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input name="password" type="text" class="form-control" id="password" placeholder="Password" required="">
                            </fieldset>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="circle-item">
                                <input name="demo-priority" type="radio" id="demo-small" value="16-20" checked>
                                <label for="demo-small">Age: 16 - 20</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="circle-item">
                                <input name="demo-priority" type="radio" id="demo-medium" value="21-30">
                                <label for="demo-medium">Age: 21 - 30</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="circle-item">
                                <input name="demo-priority" type="radio" id="demo-old" value="30+">
                                <label for="demo-old">Age: 30+</label>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <button type="submit" id="form-submit" class="button">Sign Up</button>
                            <a class="btn btn-default " href="@Url.Action("Index", "Home")">Register</a>

                        </div>
                    </div>
                </form>
                        <button>Login</button>

                    }


                </div>
            </div>
        </div>
    </section>






