
@{
    Layout = "~/Views/Shared/_SignUp.cshtml";
    ViewBag.Title = "SignUp";
}


@model eUseControl.Web.Models.ULogin



    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Registration</h2>
                    </div>
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("SignUp", "SignUp", FormMethod.Post, new { @id = "LoginForm" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.TextBoxFor(u => u.Credential, new
                    {
                        placeholder = "Username",
                        name = "username",
                        value = ""
                    })

                        @Html.TextBoxFor(u => u.Password, new
                            {
                                type = "password",
                                   placeholder = "Password",
                                  name = "password",
                                  value = ""
                                        })
                       
                        // <button>Login</button>
                        <a type="submit" id="form-submit" class="button " href="@Url.Action("Index", "Home")">Login</a>

                    }


                </div>
            </div>
        </div>
    </section>






